$grid-breakpoints: (
        mobile_320: 320px,
        mobile_360: 360px,
        mobile_428: 428px,
        mobile_575: 575px,
        mobile_770: 760px,
        desktop: 1024px,
        desktop_wide: 1440px,
) !default;
