* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app {
  min-width: 320px;
}

@include media-breakpoint-up(desktop) {
  #app {
    display: flex;
    flex-direction: column;
  }
}

header {
  display: flex;
  align-items: center;
  background: $primary-color;
  height: 38px;
  position: relative;
  z-index: 1;
}

a {
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-decoration-line: none;
  cursor: pointer;
}

.wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

@include media-breakpoint-up(desktop) {
  .wrapper {
    width: 960px;
    padding: 0;
  }
}

@include media-breakpoint-up(desktop_wide) {
  .wrapper {
    width: 1280px;
  }
}

@include media-breakpoint-down(desktop) {
  .wrapper {
    width: 100%;
  }
}
